.Homepage{
  position: relative;
  height: calc(100% - 50px - 25px);
  background-image: url(../../images/HOMEPAGE.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}
.Book {
  position: absolute;
  top: 38%;
  left: 30%;
  display: none;
}

.About {
  position: absolute;
  top: 20%;
  left: 11%;
}

.WeChatStickers{
  position: absolute;
  bottom: 2%;
  left: 15%;
}

.Comics{
  position: absolute;
  top: 62%;
  right: 25%;
}

.Sketches{
  position: absolute;
  right: 17%;
  top: 4%;
  display: none;
}

.OnlineStore{
  position: absolute;
  right: 6%;
  top: 17%;
  display: none;
}

.hrefButton{
  transform: scale(0.8);
}
.hrefButton:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out 0ms
}