.comics {
    /* height: 93%; */
    text-align: center;
    padding: 4rem 4rem;
    background: floralwhite;
}

.comicsHeader {
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0 auto 3rem auto;
}

.comicsGird {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    width: 100%;
}

.comicWindow {
    position: relative;
    background: #fbfaf8;
    border-radius: 10px;
    box-shadow: 4px 4px 9px gainsboro;
    border: 2px solid darkgray;
}

.comicWindow:hover {
    transform: scale(1.08);
    cursor: pointer;
    transition: transform 0.15s ease-in-out 0ms
}

.comicsGird .comicWindow::after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.comicMainBlock {
    position: absolute;
    height: 100%;
}

.comicPictureBlock {
    height: 64%;
    overflow: hidden;
    margin: 20px 20px 5px 20px;
    border: 2px solid #a39a90;
}

.comicBottomBlock {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    height: 25%;
    overflow: hidden;
}

.comicLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0 0 0;
}

.comicImage {
    width: 50%;
}

.comicTitle,
.comicDate {
    font-size: 1.2rem;
    margin: 0;
    color: #444444;
    font-weight: bold;
}

.comicDescription {
    font-size: 0.9rem;
    margin: 0;
    color: #444444;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* 显示几行 */
    overflow: hidden;
}

.modal {
    --bs-modal-width: 1000px;
    --bs-modal-padding: 2rem;
    --bs-modal-border-radius: 1.5rem;
    --bs-modal-bg: floralwhite;
    --bs-modal-header-padding: 2rem 4rem 1rem 4rem;;
}

.comicModalTitle {
    font-size: 2rem;
    font-weight: bold;
}

.comicModalDate {
    font-size: 1.3rem;
}

.btn-close {
    font-size: 30px;
}

.modal-body .comicModalDescription {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.8rem;
}