
.wechatStickers {
    text-align: center;
    padding: 4rem 6rem;
    background: floralwhite;
}

.stickersHeader {
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0 auto 3rem auto;
}

.stickersGird {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    grid-column-gap: 4rem;
    grid-row-gap: 3rem;
    width: 100%;
}

.stickerWindow {
    position: relative;
    background: #fbfaf8;
    border-radius: 10px;
    box-shadow: 4px 4px 9px gainsboro;
    border: 2px solid darkgray;
}

.stickerWindow:hover {
    transform: scale(1.08);
    cursor: pointer;
    transition: transform 0.15s ease-in-out 0ms
}

.stickersGird .stickerWindow::after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.stickerMasking {
    width: 100%;
    height: calc(100% - 20px - 38px);
    background-color: transparent;
    position: absolute;
}

.stickerMainBlock {
    position: absolute;
    height: 100%;
    width: 100%;
}

.stickerBannerBlock {
    /* 给container指定宽高比 */
    aspect-ratio: 15 / 8;
    margin: 20px 25px 0 25px;
    border: 2px solid #a39a90;
}

.stickerBannerImage {
    width: 100%;
    /* 图片大小自适应 */
    background-size: 100% 100%;
}

.stickerBottomBlock {
    display: flex;
    flex-direction: column;
    margin: 0px 25px;
    height: auto;
    overflow: hidden;
}

.stickerHeadingBlock {
    margin: 10px 0;
    align-items: center;
    display: flex;
}

.stickerCoverImageBlock {
    width: 22%;
    aspect-ratio: 1 / 1;
    border: 1.5px dashed #a39a90;
    float: left;
}

.stickerCoverImage {
    width: 100%;
    background-size: 100% 100%;
}

.stickerTitleBlock {
    width: 75%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 25px;
}

.stickerTitleBlock .stickerTitle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.stickerTitleBlock .stickerDate {
    font-size: 1.1rem;
    text-align: left;
}

.stickerDescriptionBlock {
    height: 50px;
    flex-shrink: 0;
}

.stickerDescription {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5em;
}

.stickerUrlBlock {
    margin-top: 10px;
    display: flex;
    /* 减去bottomBlock左右各25px margin */
    width: calc(100% - 50px);
    /* 三个Button两端对齐 */
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
}

.btn {
    width: 30%
}

#qrcode-button-tooltip {
    background-color: white;
    opacity: 1;
    border-radius: 8px;
}

#qrcode-button-tooltip .tooltip-inner {
    max-width: none;
    background-color: white;
}

.stickerQrCodeImage {
    width: 250px;
}

.modal {
    --bs-modal-width: 1000px;
    --bs-modal-padding: 2rem 4rem;
    --bs-modal-border-radius: 1.5rem;
    --bs-modal-bg: floralwhite;
    --bs-modal-header-padding: 2rem 4rem 1rem 4rem;
    ;
}

.stickerModalTitle {
    font-size: 2rem;
    font-weight: bold;
}

.btn-close {
    font-size: 30px;
}


.alert-success {
    position: absolute;
    width: 200px;
    left: calc(50% - 100px);
    text-align: center;
    top: 7%;
}

.alert-success {
    position: absolute;
    width: 180px;
    left: calc(50% - 90px);
    text-align: center;
    top: 7%;
    font-weight: bold;
    font-size: 17px;
}

.alert {
    --bs-alert-padding-x: 0rem;
    --bs-alert-padding-y: 13px;
}
