.Header {
    /* height: 7%; */
    width: 100%;
    background-color: #a6937c;
    display: flex;
    justify-content: space-between;
}
.HeaderLogo h2 {
    display: flex;
    float: left;
    height: 100%;
    margin: auto 0 auto 25px;
    color: white;
    font-size: 42px;
    font-weight: bold;
}

.HeaderLogo:hover {
    cursor: pointer;
}

.HeaderLogo h3 {
    display: inline-block;
    height: 100%;
    margin: 15px 0 auto 25px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.HeaderContainer {
    display: flex;
    float: right;
    font-size: 2rem;
    height: 100%;
    color: white !important;
    margin-top: 10px;
    width: 270px;
    margin-right: 25px;
    justify-content: space-between;
}
.HeaderContainer a {
    cursor: pointer;
}