.Header {
    height: 7%;
    width: 100%;
    background-color: #a6937c;
}
.HeaderContainer {
    display: flex;
    float: right;
    font-size: 2rem;
    height: 100%;
    line-height: 1.7rem;
    color: white !important;
    margin-top: 1%;
    width: 182px;
    margin-right: 13px;
    justify-content: space-between;
}
.HeaderContainer a {
    cursor: pointer;
}